.clear
{
  background-color: inherit;
  border: none;
}

.button-tile
{
  height: auto;
  overflow: inherit;
  padding: 0px;
  margin-bottom: 0px;
}

.footer-link
{
	font-weight: 100;
	padding-right: 20px;

}

.footer-icon-twitter
{
	background-image: url(../images/icons/twitter30.png);
	float:left;
	width:30px;
	height:30px;
}

.footer-icon-facebook
{
	background-image: url(../images/icons/facebook30.png);
	float:left;
	width:30px;
	height:30px;
}
.footer-icon-facebook:hover
{
	background-image: url(../images/icons/facebook30hover.png);
}

.footer-icon-twitter:hover
{
	background-image: url(../images/icons/twitter30hover.png);
}