<div id="circle_view__paper"></div>
<div class="row">
    <div class="span12" id="circle_view__elements">
        <div id ="calcPanel" class="pull-right">
            <div class="btn-group">
                <button type="button" id="pause" class="btn btn-primary">Pause</button>
                <button type="button" id="reset" class="btn btn-primary">Reset</button>
            </div>
            <input type="text" id="value">
            <div class="btn-group">
                <button type="button" class="btn btn-primary val" value="1">1</button>
                <button type="button" class="btn btn-primary val" value="2">2</button>
                <button type="button" class="btn btn-primary val" value="3">3</button>
            </div> 
            <div class="btn-group"> 
                <button type="button" class="btn btn-primary val" value="4">4</button>
                <button type="button" class="btn btn-primary val" value="5">5</button>
                <button type="button" class="btn btn-primary val" value="6">6</button>
            </div> 
            <div class="btn-group">
                <button type="button" class="btn btn-primary val" value="7">7</button>
                <button type="button" class="btn btn-primary val" value="8">8</button>
                <button type="button" class="btn btn-primary val" value="9">9</button>
            </div> 
            <div class="btn-group">
                <button type="button" class="btn btn-primary val" value="0">0</button>
                <button type="button" class="btn btn-danger" id="enter">Go!</button>
            </div>
        </div>

    </div>
</div>